@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F172A;
  --color-text-primary: #E2E8F0;
  --color-text-secondary:#94A3B8;
  --color-title-primary: #38BDF8;
  --color-title-secondary:#5EEAD4;
  --foreground: #E2E8F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #E2E8F0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}